<!DOCTYPE html>
<html>
    <head>
        <title>Register Page</title>
    </head>
    <body>
        <form method="post" action="/api/register">
            Username : <input type="text" name="username" maxlength="20" required><br>
            Password : <input type="password" name="password" required><br>
            Email : <input type="email" name="email" required><br>
            Firstname : <input type="text" name="firstname" maxlength="20" required><br>
            Lastname : <input type="text" name="lastname" maxlength="20" required><br>
            Phone Number : <input type="text" name="phone_number" maxlength="10" required><br>
            <input type="submit" value="Register">
        </form>
    </body>
</html>